<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <!-- <div class="form Container">
       <form method="POST">
           {% csrf_token %}
           <label>Username:</label>
           <input type="text" name="username"> 
           <br><label>Password:</label> 
           <input type="password" name="password">
           <br><input type="submit" name="submit" value="Submit"> 
           <h2><a href="{% url 'index' %}">Register Here</a></h2>
       </form> 
    </div> -->

    {% if form.errors %}
    <p>Invalid Login Credentials</p>
    {% endif %}
</body>
</html>
