<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <style>
        body {
            color: gainsboro;
            background-color: rgb(212, 208, 236);
        }
        p{
            text-align: center;
            position: absolute;
            font-family:  'Lucida Sana Unicode', 'Lucida Granade', san-serif;
            font-size: 30px;
            color: #000;
        }
    </style>
</head>
<body>
    <p>{{ context }}</p>
</body>
</html>