<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <h3 class="sign">Sign Up</h3>
            {{ form.as_p }}
            <span><input class="" type="submit" name="submit" value="Register User"> 
            <p>Already have an account? Log in <a href="{% url 'login' %}">here</a></p></span>
        </form>
    </div>
    <script>
        passw = document.getElementById("id_password");
        passw.type = "password";
    </script>
</body>
</html>